
.buttonStyle:hover > .labelStyle {

    color: #2ee6a8;


}

.labelStyle {

    color: black;

}



.buttonStyle2:hover > .labelStyle2 {

    color: #2ee6a8;


}

.labelStyle2 {

    color: black;

}