<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1" (click)="allNotes()" class="buttonStyle">
      <ion-icon aria-hidden="true" id="allIcon" src=""></ion-icon>
      <ion-label id="labelStyle" class="labelStyle">All Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" (click)="createNote2()" class="buttonStyle2">
      <ion-icon aria-hidden="true" id="createIcon" src=""></ion-icon>
      <ion-label id="labelStyle2" class="labelStyle2">Create Notes</ion-label>
    </ion-tab-button>



  </ion-tab-bar>
</ion-tabs>
