.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

input {

    border: 1px solid black;
  

}

.buttonStyle {

    width: 100%;
    margin-top: 1em;
    background-color: #2ee6a8;
    transition: 1s;
    font-weight: 900;
}

.buttonStyle:hover {

    transform: scale(1.2);
    background-color: #2ee6a8;

}

.containerItems {
    display: flex;
    justify-content: center;
   

}

.formStyle {

    width: 80%;
    box-shadow: 0px 0px 4px 0px black;
    padding: 20px;
    border-radius: 10px;

}

.errorStyle {

    color: red;
    font-weight: 900;

}