.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;

}

.containerItems2 {


 box-shadow: 0px 0px 4px 0px black;
 padding-top: 5px;
 padding-bottom: 15px;
 padding-left: 20px;
 margin-bottom: 1em;
 margin-top: 1em;
 width: 380px;
 background-color: #2ee6a8;

}

.noteTitle {

    margin-bottom: 1em;
    margin-top: 1em;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: 900;

}

.noteNOte {

    color: white;
    text-shadow: 2px 2px 2px black;
    font-style: italic;

}